.modal-task{
  min-width: 250px;
  background: #fff;
  padding: 20px;

}

img {
  width: 30px;
}

.input-comment{
  min-height:70px;
  margin: 10px;
}

.comments-list{
  display: flex;
  flex-direction: column;
}
