.modal-task{
  min-width: 250px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;;

}

.input-comment{
  min-height:80px;
  width: 250px;
  margin: 10px;
}

.task{
  width: 250px;
}
.comments-list{
  display: flex;
  flex-direction: column;
}

.btn-close{
  background-color:#fff;
  border: none;
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

