<div class="modal-tasks">
  <form (ngSubmit)="saveTask()" [formGroup]="formCard">
    <div>
      <input type="text" formControlName="title" />
    </div>
    <div>
      <h4>Description</h4>
      <input type="text" name="" formControlName="description" />
    </div>
    <div>
      <button>Update</button>
    </div>
  </form>

  <div>
    <h4>Comments</h4>
    <ul>
      <li *ngFor="let comment of params.comments">
        {{comment.name}} - {{comment.comment}}

        <img [src]="comment.image" alt="">
      </li>
    </ul>

    <form (ngSubmit)="saveComment()"  [formGroup]="formComment">
      <div>
        <input type="text"formControlName="comment"/>
      </div>
      <div>
        <button>Comment</button>
      </div>
    </form>
  </div>
  <button (click)="close()">Close</button>
</div>
