<div class="modal-tasks">
  <form [formGroup]="formCard">
    <div>
      <input type="text" formControlName="title" />
    </div>
    <div>
      <h4>Description</h4>
      <input type="text" name="" formControlName="description" />
    </div>
    <div>
      <button>Update</button>
    </div>
  </form>

  <div>
    <h4>Comments</h4>
    <ul>
      <li>
        comment
      </li>
    </ul>

    <form action="">
      <div>
        <input type="text"formControlName="comment"/>
      </div>
      <div>
        <button>Comment</button>
      </div>
    </form>
  </div>
  <button (click)="close()">Close</button>
</div>
