<p>{{board.name}}</p>
<form (ngSubmit)="saveUser()" [formGroup]="formUser">
  <div>
      <label for="">Email:</label>
      <input type="email" formControlName="email">
  </div>
  <div>
      <button>Send Invitation</button>
  </div>
</form>
<div>
  <h5>Users:</h5>
  <ul>
    <li *ngFor="let user of board.users" >
      {{user.name}} image should be here!
    </li>
  </ul>
</div>

<div>
  <ul *ngFor="let list of board.list">
    <p>{{list.type}}</p>
    <li *ngFor="let item of list.items"
          style="cursor: pointer;"
          (click)="open()">
          {{item.title}}Hola
        </li>
  </ul>
</div>
