.form-create-user{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}


.btn-send{
  background-color: grey;
  height:40px;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* DETAIL BOARD*/

.board-detail-list{
  margin: 0;
  background-color: #fff;
  min-width:150px;
  height: 400px;
  flex-direction: column;
  border-radius: 8px;
  color: grey;
  font-weight: bold;
}
.list-task{
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding:10px;
  background-color: #EDEDED;
  color: #575757;
  font-size:14px;
}

.todo-main{
  display:flex;
  gap: 10px;
  padding: 10px 0;
}

.btn-create-todo{
  height: 100px;
  width: 30px;
  background-color: #97E7ED;
  border-radius: 8px;
  border: 1px solid #97E7ED;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

