.title-type{
  margin: 0 auto;
}
.board-detail-list{
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: #fff;
  min-width:200px;
  height: 400px;
  flex-direction: column;
  border-radius: 8px;
  color: grey;
  font-weight: bold;
}
.list-task{
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding:10px;
  background-color: #EDEDED;
  color: #575757;
  font-size:14px;
  left: 15px;
  max-width: 150px;
}



.todo-main{
  display:flex;
  gap: 5px;
  padding: 10px 0;
}

.btn-create-todo{
  height: 130px;
  width: 40px;
  background-color: #97E7ED;
  border-radius: 8px;
  border: 1px solid #97E7ED;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.todo-users{
  display:flex;
  align-items:center;
}
.btn-create-user{
  margin-top: 8px;
  width: 30px;
  height: 30px;
  border-radius:50%;
  color: #fff;
  background-color: #598AB9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.btn-new-card{
  text-align: center;
}
