.form-create-user{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}


.btn-send{
  background-color: grey;
  height:40px;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
/* DETAIL BOARD*/

.board-detail-list{
  background-color: #fff;
  max-width:200px;
  height: 400px;
  flex-direction: column;
  border-radius: 8px;
}

.title-type{
  color: #DBDBDB;
  font-weight: bold;
}

.list-task{
  border: 1px solid #EDEDED;
  border-radius: 5px;
  padding:10px;
  background-color: #EDEDED;
  color: #575757;
  font-size:14px;
}
